@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&display=swap');

@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}

* {
    /*margin: 0%;
    padding: 0%;*/
    box-sizing: border-box;
}

body {
    width: auto;
    /*padding: 100% 0;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, rgb(255, 0, 0), rgb(156, 0, 0), rgb(73, 1, 1));
    background-size: 500% 100%;
    background-attachment: fixed;
    animation: degrade-animado 5s infinite alternate;
}

main {
    background-color: rgba(255, 255, 255, 0.719);
    margin: auto;
    width: 700px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

h1 {
    font-family: 'Aref Ruqaa Ink', serif;
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px 3px rgba(121, 0, 0, 0.562);
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
}

p {
    font-family: 'Aref Ruqaa Ink', serif;
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px 3px rgba(121, 0, 0, 0.562);
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
}

a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: white;
}

div {
    background-color: rgb(255, 0, 0);
    margin: auto;
    width: 650px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(121, 0, 0, 0.562);
    font-style: normal;
    font-weight: normal;
}

#icon {
    position: relative;
    transform: translateY(5%);
}
