@charset "UTF-8";

body {
    background-image: linear-gradient(to bottom, rgb(255, 0, 0), rgb(77, 0, 0));
    background-attachment: fixed;
}

main {
    background-color: rgba(255, 255, 255, 0.719);
    margin: auto;
    width: 600px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px 3px rgba(121, 0, 0, 0.562);
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px 3px rgba(121, 0, 0, 0.562);
    font-style: normal;
    font-weight: normal;
}

 div {
    background-color: rgb(255, 0, 0);
    margin: auto;
    width: 550px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(121, 0, 0, 0.562);
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
}

a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: white;
}

#icon {
    position: relative;
    transform: translateY(15%);
}
